@import '~bootstrap/scss/bootstrap.scss';

button {
  margin-left: 0.25%;
  margin-bottom: 0.25%;
}

input {
  display: block;
  margin: 5px 0 5px;
}

.App {
  button {
    color: white;
    background-color: #474747;
    border: none;
  }
  button:hover {
    background-color: #c1c1c1;
  }
}

.navList {
  width: auto;
}

.form {
  .friend {
    font-size: x-large;
  }
  .signUp {
    font-size: x-large;
  }
  .login {
    font-size: x-large;
  }
  h2 {
    font-size: xxx-large;
  }
  div {
  margin-left: 0.5%;
  }
  form {
    margin-left: 0.5%;
  }
}

.topBar {
  margin-left: 0;
  background-color: #333333;
  color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  h3 {
    font-size: 23px;
    margin-left: 1%;
  }
  img {
    height: auto;
    padding: 0;
    width: 5%;
  }
  button {
    font-size: 23px;
    color: white;
    background-color: #474747;
  }
  button:hover {
    background-color: #c1c1c1;
  }
}

.InfScrollMain{
  display: flex;
  flex-wrap: wrap;
  .InfScrollCard{
    margin: 5px;
    background-color: lightgray;
    width: 500px;
    .Title{
      font-weight: bold;
      font-size: 150%;
    }
    .CardInfo{
      font-size: 120%;
    }
  }
}

.MoviePageContainer{
  .row{
    margin: 5px;
  }
  img{
    order: 0;
    width: 180px;
  }
  .col-sm-7{
    order: 1;
    h1{
      font-weight: bold;
    }
    p{
      font-size: 135%;
    }
  }
  .dropdownButton{
    order: 2;
    margin-top: 1%;
  }
}

.profileContainer{
  padding-bottom: 10%;
  .row{
    justify-content: start;
    .profilePic{
      width: 15%;
      height: 15%;
      border-radius: 50%;
    }
    h1{
      text-align: left;
      padding-top: 6.5%;
      padding-left: 3%;
    }
    .fav{
      padding-top: 0.5%;
      padding-left: 8%;
      .favMovCards{
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

.MovieCardContainer{
  margin: 5px;
  background-color: lightgray;
  width: 250px;
    .CardInfo{
      font-size: 120%;
    }
  .col-sm-3{
    width: 250px;
  }
}